* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "Simonetta Regular";
  src: url(./../fonts/Simonetta-Regular.ttf); }

@font-face {
  font-family: "Galdeano Regular";
  src: url(./../fonts/Galdeano-Regular.ttf); }

.headerLogo {
  display: none; }

header {
  grid-area: nav;
  display: flex;
  background-color: black;
  justify-content: start;
  align-items: center; }

.carrito {
  fill: white;
  width: 50px;
  height: 18px;
  margin-left: 27rem; }

@media screen and (min-width: 576px) {
  .headerLogo {
    width: 70px;
    cursor: pointer;
    display: flex;
    flex-direction: row; }
  header {
    justify-content: space-around;
    display: flex; }
  .carrito {
    margin-left: 0rem; } }

@font-face {
  font-family: "Simonetta Regular";
  src: url(./../fonts/Simonetta-Regular.ttf); }

@font-face {
  font-family: "Galdeano Regular";
  src: url(./../fonts/Galdeano-Regular.ttf); }

.botonInstagram:hover {
  fill: yellow; }

.botonFacebook:hover {
  fill: blue; }

.botonPinterest:hover {
  fill: #b80303; }

.botonWhatsapp:hover {
  fill: #03c203; }

footer {
  grid-area: foot;
  background-color: black;
  width: 100%;
  display: flex; }

.footer__icon {
  height: 35px;
  width: 35px; }

.redes {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  fill: white; }

.footer__text {
  justify-self: center; }

@font-face {
  font-family: "Simonetta Regular";
  src: url(./../fonts/Simonetta-Regular.ttf); }

@font-face {
  font-family: "Galdeano Regular";
  src: url(./../fonts/Galdeano-Regular.ttf); }

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

body {
  font-family: "Simonetta regular"; }

.tracking-in-expand {
  animation: tracking-in-expand 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

.gridContainer {
  display: grid;
  grid-template-areas: "nav nav" "ini ini" "colec colec" "land land" "nat nat" "foot foot";
  grid-template-rows: repeat(6, auto); }

.inicio {
  grid-area: ini;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/inicio.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem; }

.titulo {
  font-size: xx-large;
  color: black;
  text-align: center; }

.colecTitulo {
  display: block;
  grid-area: colec;
  justify-self: center;
  align-self: center; }

.tituloPagina {
  display: inline-flex;
  font-size: x-large;
  font-weight: bold;
  color: #09340d;
  text-align: center;
  padding: 5%; }

div strong {
  font-family: "Galdeano Regular"; }

.subtituloIndex {
  background-color: rgba(0, 0, 0, 0.4);
  color: black;
  font-size: xx-large;
  text-decoration: none;
  font-weight: bold;
  width: 100%; }

.ver {
  text-align: right;
  color: black;
  text-decoration: none; }

.coleccion {
  display: contents; }

.coleccion__landscape, .coleccion__nature {
  grid-area: land;
  display: flex;
  flex-direction: column;
  background-image: url(../img/landscape.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%; }

.productsLandscape {
  display: none; }

.coleccion__nature {
  grid-area: nat;
  background-image: url(../img/picture.png); }

.productsNature {
  display: none; }

.products {
  width: 370px;
  height: 500px;
  margin: 5px;
  position: relative; }

.product__image {
  width: 100%;
  height: 70%;
  transition: opacity 1.5s ease-in-out;
  position: absolute;
  box-shadow: 0 0 25px 0 #838383; }
  .product__image.top:hover {
    opacity: 0; }

.product__description {
  display: none; }

.galeria {
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.cardProduct {
  width: 260px;
  margin: 5px; }

.cardProduct__image {
  width: 260px;
  height: 270px;
  overflow: hidden; }

.cardAnimation {
  width: 100%;
  height: 100%;
  transition: ease-in-out 1.5s; }
  .cardAnimation:hover {
    transform: scale(1.2) translateY(-20px); }

.cardProduct__description {
  padding: 10px;
  border-bottom: 1.5px #e5e5e5;
  border-left: 1.5px #e5e5e5;
  border-right: 1.5px #e5e5e5;
  border-style: solid;
  display: flex;
  justify-content: space-between;
  align-items: baseline; }

.cardProduct__description__price {
  margin-top: 10px; }

.cardProduct__comprar {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: larger;
  font-family: "Galdeano Regular"; }

.gridCursos {
  display: grid;
  grid-template-areas: "nav nav" "subt subt" "joy joy" "miyu miyu" "foot foot";
  grid-template-rows: auto auto 30rem 30rem auto;
  grid-gap: 1%; }

.cursosTitulo {
  grid-area: subt; }

.cursos {
  display: contents; }

.curso__joyeria, .curso__miyuki {
  grid-area: joy;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.descr__mobile {
  position: relative;
  display: contents; }

.joyeria__descr {
  display: none; }

.curso__miyuki {
  grid-area: miyu; }

.miyuki__descr {
  display: none; }

.coment {
  height: 100%;
  column-span: all;
  padding-bottom: 10%; }

.formulario {
  padding: 15%;
  padding-top: 3%;
  padding-bottom: 5%;
  margin-right: 0%; }

form {
  font-family: "Galdeano Regular"; }

@media screen and (min-width: 576px) {
  .gridContainer {
    display: grid;
    grid-template-areas: "nav nav" "ini ini" "colec colec" "land cardLand" "cardNat nat" "foot foot";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, auto);
    grid-gap: 1%; }
  .inicio {
    height: 40rem; }
  .titulo {
    font-size: 4rem; }
  .tituloPagina {
    padding: 1rem; }
  .coleccion__landscape, .coleccion__nature {
    margin-bottom: 0%; }
  .productsLandscape {
    grid-area: cardLand;
    display: flex;
    justify-self: center; }
  .collecion__nature {
    margin-bottom: 0; }
  .productsNature {
    grid-area: cardNat;
    display: flex;
    justify-self: center; }
  .product__description {
    padding-top: 100%;
    width: 100%;
    height: 10%;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: baseline; }
  .gridCursos {
    grid-template-areas: "nav nav" "subt subt" "joy jtext" "mtext miyu" "foot foot";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto); }
  .curso__joyeria, .curso__miyuki {
    background-image: url(../img/alambrismo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 20rem; }
  .descr__mobile {
    display: none; }
  .joyeria__descr {
    grid-area: jtext;
    display: block;
    align-self: center;
    text-align: justify;
    border-left-style: groove;
    font-family: "Galdeano Regular"; }
  .curso__miyuki {
    background-image: url(../img/miyuki.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 20rem; }
  .miyuki__descr {
    grid-area: mtext;
    display: block;
    align-self: center;
    text-align: justify;
    border-right-style: groove;
    font-family: "Galdeano Regular"; }
  .infoFacturacion {
    padding-top: 1rem;
    padding-bottom: 2.5rem; }
  .botonPagar {
    margin-bottom: 5rem;
    margin-top: 1rem; } }
